# 그리디 알고리즘

예제 1. 거스름돈 (난이도 하)

거슬러 줘야 할 돈이 N원일 때 거슬러줘야 할 동전의 최소 갯수를 구하라.

In [ ]:
# -*- coding: utf-8 -*- 
money = int(input()) 
count = 0 
# 500원의 갯수
count += int(money / 500) 
money = money % 500 
# 100원의 갯수 
count += int(money / 100) 
money = money % 100 
#50원의 갯수 
count += int(money / 50) 
money = money % 50 
#10원의 갯수 
count += int(money / 10) 
money = money % 10 
# 갯수 출력 
print("동전 갯수: " + str(count)) 
print("잔액: " + str(money))

5200
동전 갯수: 12
잔액: 0

예제 2. 큰 수의 법칙 (난이도 하)

다양한 수로 이루어진 배열이 있을 때 주어진 수들을 M번 더하여 가장 큰 수를 만드는 법칙이다.
단, 배열의 특정한 인덱스(번호)에 해당하는 수가 연속해서 K번을 초과하여 더할 수 없는 것이 특징이다.
배열의 크기 N, 숫자가 더해지는 횟수 M, 그리고 K가 주어질 때 큰 수의 법칙에 따른 결과를 출력하시오.

In [ ]:
# -*- coding: utf-8 -*-
N, M, K = map(int, input().split())
data = list(map(int, input().split()))
total = 0 # 총합

count = K # for문에서 사용할 변수(가장 큰 숫자가 더해지는 횟수(K)를 카운트)

data.sort(reverse=True)
for i in range(0, M):
	if count == 0: # count가 0이면
		total += data[1] # 두 번째로 큰 수를 더한다.
		count = K # 카운트 초기화
		continue
	else:
		total += data[0] # 가장 큰 수를 더한다.
		count -= 1 # 카운트 감소

print(total) # 총합 출력

5 8 3
2 4 5 4 6
46

예제 3. 숫자 카드 게임(난이도 하)

숫자 카드 게임은 여러 개의 숫자 카드 중 가장 높은 숫자가 쓰인 카드 한 장을 뽑는 게임이다.
숫자가 쓰인 카드들이 N x M 형태로 놓여 있다. 이때 N은 행의 갯수를, M은 열의 갯수를 의미한다.

In [ ]:
# -*- coding: utf-8 -*-
N, M= map(int, input().split())
li = [] # 숫자들을 모아놓는 리스트
for i in range(0, N):
	data = list(map(int, input().split())) # 각 행의 숫자 값을 한번에 입력받는다.
	data.sort() # 정렬을 미리 해놓는다.
	li.append(data) 

max_value = li[0][0] # 첫 번째 행에서 가장 작은 값으로 초기값 설정
for i in range(1, N):
	if max_value < li[i][0]: # i번째 행의 가장 작은 값이 max_value보다 크면
		max_value = li[i][0] # max_value 값 변경

print(max_value) # 출력

2 4
7 3 1 8
3 3 3 4
3

예제 4. 1이 될 때까지(난이도 하)

N과 K가 주어질 때 N이 1이 될 때까지 1번 혹은 2번의 과정을 수행해야 하는 최소 횟수를 구하는 프로그램을 작성하시오.
1. N에서 1을 뺀다.
2. N을 K로 나눈다.

In [ ]:
# -*- coding: utf-8 -*-
N, K = map(int, input().split())
count = 0 # 횟수

while(N != 1): # N 값이 1이 될 때까지 반복
	if N % K == 0: # 나누어 떨어지면
		N = N // K # N을 K로 나누고
		count += 1 # 카운트 증가
	else: # 나누어 떨어지지 않으면
		N = N - 1 # 1만큼 빼고
		count += 1 # 카운트 증가

print(count) # 출력

25 5
2

실전 Q01. 모험가 길드 (난이도 하)

N명의 모험가에 대한 정보가 주어질 때, 여행을 떠날 수 있는 그룹 수의 최댓값을 구하라.

In [ ]:
# -*- coding: utf-8 
num = int(input())
li = list(map(int, input().split()))
li.sort()
group_count = 0 # 그룹 숫자
scare_count = 0 # 공포도
for i in li:
	scare_count += 1
	if scare_count == i: # 그룹 인원이 다 채워지면
		group_count += 1
		scare_count = 0

print(group_count)

5
2 3 1 2 2
2

실전 Q02. 곱하기 혹은 더하기 (난이도 하)

각 자리가 숫자 0~9로만 이루어진 문자열 S가 있을 때, 왼쪽부터 오른쪽으로 하나씩 모든 숫자를 확인하여 숫자 사이에 x 또는 + 연산자를 넣어 결과적으로 만들어질 수 있는 가장 큰 수를 구하는 프로그램을 작성하라. 단, +보다 x를 먼저 계산하는 일반적인 방식과는 달리, 모든 연산은 왼쪽에서부터 순서대로 이루어진다고 가정한다.

In [ ]:
# -*- coding: utf-8 
num = input()
sum = 0 # 가장 큰 수를 저장할 변수

for i in range(0, len(num)):
	if int(num[i]) == 0 or sum == 0: # 해당 숫자가 0이거나 총합의 값이 0인 경우
		sum += int(num[i]) # 더하기 연산
	else: # 나머지의 경우
		sum *= int(num[i]) # 곱하기 연산

print(sum)

02984
576

실전 Q03. 문자열 뒤집기 (난이도 하)

0과 1로만 이루어진 문자열 S를 가지고 있습니다. 이 문자열 S에 있는 모든 숫자를 전부 같게 만드는 최소 횟수를 출력하시오.

In [ ]:
# -*- coding: utf-8 
num = input()
count1, count2 = 0, 0 # count1은 0을 1로 바꾸는 횟수, count2는 1을 0으로 바꾸는 횟수
for i in range(len(num)):
	if num[i] == '0': # 0을 1로 바꿀 때
		if i == 0 or num[i - 1] == '1': # 첫 번째 숫자가 0으로 시작되거나 직전의 값이 1일 경우
			count1 += 1 # 바꾼 횟수를 증가시킨다.
		else: # 지난 번 숫자가 0인 경우 
			continue # 연속된 숫자이므로 그대로 이어간다. (횟수 증가 없이 뒤집으면 된다)
	elif num[i] == '1': # 1을 0으로 바꿀 때
		if i == 0 or num[i - 1] == '0': # 첫 번째 숫자가 1이거나 직전의 값이 0일 경우
			count2 += 1 # 바꾼 횟수를 증가시킨다.
		else: # 지난 번 숫자가 1인 경우
			continue # 연속된 숫자이므로 그대로 이어간다. (횟수 증가 없이 뒤집으면 된다)

print(min(count1, count2))

0001100
1

Q04. 만들 수 없는 금액 (난이도 하)

N개의 동전을 이용하여 만들 수 없는 양의 정수 금액 중 최솟값을 구하는 프로그램을 작성하시오.

In [ ]:
# -*- coding: utf-8 
N = int(input())
li = list(map(int, input().split()))
li.sort()

target = 1
for i in li:
	if target < i:
		break
	target += i

print(target)

5
3 2 1 1 9
8

실전 Q05. 볼링공 고르기 (난이도 하)

N개의 공의 무게가 각각 주어질 때, 두 사람이 볼링공을 고르는 경우의 수를 구하는 프로그램을 작성하시오.

In [ ]:
# -*- coding: utf-8 
N, M = map(int, input().split())
weight_list = list(map(int, input().split()))
count = 0
for i in range(0, len(weight_list) - 1):
	first_weight = weight_list[i]
	for j in range(i + 1, len(weight_list)):
		second_weight = weight_list[j]
		if first_weight != second_weight:
			count += 1

print(count)

5 3
1 3 2 3 2
8